<footer class="foo">
  <div class="container">
    <div class="contact-container">
      <div class="text-wrapper">
        <h2 class="headline">Contact</h2>
        <p class="description">
          Thank you for exploring my work! If you think I’d be a good fit for
          your team, let’s connect. Fill out the form, and I’ll respond as soon
          as I can.
        </p>
      </div>
      <form
        action="https://hook.eu2.make.com/24ar6h12tjyp0hk7th1y7qt5owshubqt"
        method="post"
        class="contact-form"
        id="contactForm"
      >
        <lable class="input-wrapper">
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Name"
            autocomplete="on"
            pattern="[A-Za-z]+"
            minlength="3"
            required
          />
        </lable>

        <label class="input-wrapper">
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            autocomplete="on"
            required
          />
        </label>

        <label class="input-wrapper">
          <textarea name="message" rows="4" placeholder="Message"></textarea>
        </label>

        <button class="btn" type="submit">Send Message</button>
      </form>
    </div>
    <p class="made-with-love">Made with ❤️ by Olesia Shcherbenko</p>
    <img class="foo-rings" src="/img/pattern-rings.svg" />
  </div>
</footer>
