<footer id="contactForm" class="foo">
  <div class="container">
    <div class="contact-container">
      <div class="text-wrapper">
        <h2 class="headline">Contact</h2>
        <p class="description">
          Thank you for exploring my work! If you think I’d be a good fit for
          your team, let’s connect. Fill out the form, and I’ll respond as soon
          as I can.
        </p>
      </div>
      <form
        action="https://hook.eu2.make.com/24ar6h12tjyp0hk7th1y7qt5owshubqt"
        method="post"
        class="contact-form"
        accept-charset="UTF-8"
        role="form"
      >
        <label class="input-wrapper astetisk" for="name">
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Name"
            autocomplete="on"
            pattern="[A-Za-z\s]+"
            minlength="3"
            required
            aria-required="true"
            aria-label="Enter your name"
          />
        </label>

        <label class="input-wrapper astetisk" for="email">
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            autocomplete="on"
            required
            aria-required="true"
            aria-label="Enter your email address"
          />
        </label>

        <label class="input-wrapper" for="message">
          <textarea
            name="message"
            rows="4"
            placeholder="Message"
            aria-required="false"
            aria-label="Enter your message"
          ></textarea>
        </label>

        <button class="btn" type="submit" aria-label="Send Message">
          Send Message
        </button>
      </form>
    </div>
    <p class="made-with-love">Made with ❤️ by Olesia Shcherbenko</p>
    <img class="foo-rings" src="/img/pattern-rings.svg" />
  </div>
</footer>
