<footer class="footer">
  <div class="container">
    <div>
      <h2 class="headline">Contact</h2>
      <p class="description">
        Thank you for exploring my work! If you think I’d be a good fit for your
        team, let’s connect. Fill out the form, and I’ll respond as soon as I
        can.
      </p>
    </div>
    <form
      action="https://hook.eu2.make.com/o3w4snpa8ugafrgfr9a6cyifgj0mbf7f"
      method="post"
      class="contact-form"
    >
      <div class="input-wrapper">
        <label for="name" class="visually-hidden">Name</label>
        <input type="text" id="name" name="name" placeholder="Name" required />
        <img
          src="images/icon-invalid.svg"
          alt=""
          class="invalid-icon"
          width="24"
          height="24"
        />
      </div>
      <div class="input-wrapper">
        <label for="email" class="visually-hidden">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          required
        />
        <img
          src="images/icon-invalid.svg"
          alt=""
          class="invalid-icon"
          width="24"
          height="24"
        />
      </div>
      <div class="cinput-wrapper">
        <label for="message" class="visually-hidden">Message</label>
        <textarea
          name="message"
          id="message"
          cols="30"
          rows="3"
          placeholder="Message"
          required
        ></textarea>
        <img
          src="images/icon-invalid.svg"
          alt=""
          class="invalid-icon"
          width="24"
          height="24"
        />
      </div>
      <div>
        <button type="submit">Send Message</button>
      </div>
    </form>
  </div>
</footer>
