<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo"
        >olesiashcherbenko</a
      >
      <ul class="nav-list">
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://github.com/OlesiaShcherbenko"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Visit my GitHub profile"
            ><svg class="icon" aria-hidden="true">
              <use href="/img/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://www.linkedin.com/in/olesia-shcherbenko-822488212/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Visit my LinkedIn profile"
          >
            <svg class="icon" aria-hidden="true">
              <use href="/img/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
