<section class="hero">
  <div class="container">
    <h1 class="headline">
      Nice to meet you. <br />
      I'm <span>Olesia</span>.
    </h1>
    <p class="description">
      Junior Front-End Developer passionate about building responsive and
      accessible web applications. Skilled in HTML, CSS, and JavaScript. Transitioned from UI/UX Design.
    </p>
    <a
      class="contact"
      href="https://www.linkedin.com/in/olesia-shcherbenko-822488212/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
      target="_blank"
      >Contact me</a
    >
  </div>
</section>
