<section class="hero">
  <img class="rings" src="/img/pattern-rings.svg" />
  <div class="container">
    <div class="hero-container">
      <h1 class="headline">
        Nice to meet you! <br />
        I'm Olesia.
      </h1>
      <p class="description">
        Junior Front-End Developer passionate about building responsive and
        accessible web applications.
      </p>
      <a class="contact" href="#contact" aria-label="Go to contact form"
        >Contact me</a
      >
    </div>
  </div>
</section>
