<section class="projects">
  <div class="container">
    <h2 class="headline">Projects</h2>
    <ul class="projects-list">
      <li class="projects-item">
        <img class="image" src="/img/thumbnail-project-2-large.png" alt="" />
        <h3 class="headline-sm">Interactive rating</h3>
        <div class="tags">
          <span class="tag">React</span>
          <span class="tag">JavaScript</span>
          <span class="tag">CSS</span>
        </div>
        <div class="links">
          <a
            href="https://interactive-rating-component-pi-ashy.vercel.app/"
            target="_blank"
            >Preview Site</a
          >
          <a
            href="https://github.com/OlesiaShcherbenko/interactive-rating-component"
            target="_blank"
            >View Code</a
          >
        </div>
      </li>
      <li class="projects-item">
        <img class="image" src="/img/thumbnail-project-2-large.png" alt="" />
        <h3 class="headline-sm">Interactive rating</h3>
        <div class="tags">
          <span class="tag">React</span>
          <span class="tag">JavaScript</span>
          <span class="tag">CSS</span>
        </div>
        <div class="links">
          <a
            href="https://interactive-rating-component-pi-ashy.vercel.app/"
            target="_blank"
            >Preview Site</a
          >
          <a
            href="https://github.com/OlesiaShcherbenko/interactive-rating-component"
            target="_blank"
            >View Code</a
          >
        </div>
      </li>
      <li class="projects-item">
        <img class="image" src="/img/thumbnail-project-2-large.png" alt="" />
        <h3 class="headline-sm">Interactive rating</h3>
        <div class="tags">
          <span class="tag">React</span>
          <span class="tag">JavaScript</span>
          <span class="tag">CSS</span>
        </div>
        <div class="links">
          <a
            href="https://interactive-rating-component-pi-ashy.vercel.app/"
            target="_blank"
            >Preview Site</a
          >
          <a
            href="https://github.com/OlesiaShcherbenko/interactive-rating-component"
            target="_blank"
            >View Code</a
          >
        </div>
      </li>
      <li class="projects-item">
        <img class="image" src="/img/thumbnail-project-2-large.png" alt="" />
        <h3 class="headline-sm">Interactive rating</h3>
        <div class="tags">
          <span class="tag">React</span>
          <span class="tag">JavaScript</span>
          <span class="tag">CSS</span>
        </div>
        <div class="links">
          <a
            href="https://interactive-rating-component-pi-ashy.vercel.app/"
            target="_blank"
            >Preview Site</a
          >
          <a
            href="https://github.com/OlesiaShcherbenko/interactive-rating-component"
            target="_blank"
            >View Code</a
          >
        </div>
      </li>
    </ul>
  </div>
</section>
