<section class="projects">
  <div class="container">
    <h2 class="headline">Projects</h2>
    <ul class="projects-list">
      <li class="projects-item">
        <img
          class="image"
          src="/img/thumbnail-english-exellence.jpg"
          alt="Screenshot of a team-based web project designed for an English school, showcasing an interactive and user-friendly interface with educational content and learning tools."
        />
        <h3 class="headline-sm">E-Learning Landing page</h3>
        <div class="tags">
          <span class="tag">HTML</span>
          <span class="tag">CSS</span>
        </div>
        <div class="links">
          <a
            href="https://github.com/yuriiavr/project-CSS-Ninjas"
            target="_blank"
            >View Code</a
          >
          <a
            href="https://yuriiavr.github.io/project-CSS-Ninjas/"
            target="_blank"
            >Preview Site</a
          >
        </div>
      </li>
    </ul>
  </div>
</section>
