<section class="projects">
  <div class="container">
    <h2 class="headline-md">Projects</h2>
    <ul class="projects-list">
      <li class="projects-item">
        <img
          class="image"
          src="/img/thumbnail-project-2-small.png"
          alt=""
          width="343"
          height="253"
        />
        <h3 class="name">Interactive rating</h3>
        <p class="tags">
          <span>REACT</span>
          <span>JAVASCRIPT</span>
          <span>SCSS</span>
        </p>
        <div class="links">
          <a
            href="https://interactive-rating-component-pi-ashy.vercel.app/"
            target="_blank"
            >PREVIEW SITE</a
          >
          <a
            href="https://github.com/OlesiaShcherbenko/interactive-rating-component"
            target="_blank"
            >VIEW CODE</a
          >
        </div>
      </li>
      <li class="projects-item"></li>
    </ul>
  </div>
</section>
