/* #region Styles for Mobile devices */
.rings {
  position: absolute;
  left: -200px;
  top: 140px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 180px 0;
  text-align: center;
}

.headline {
  font-size: var(--fs-40);
  line-height: 1;
}

.description {
  color: var(--c-grey);
  font-weight: 500;
  line-height: 1.6;
}

.contact {
  text-transform: uppercase;
  line-height: 1.6;
  letter-spacing: 0.14em;
  border-bottom: 2px solid var(--c-green);
}

.contact:hover {
  color: var(--c-green);
}
/* #endregion */

/* #region Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .rings {
    left: -330px;
    top: 105px;
  }

  .hero-container {
    display: block;
    padding: 90px 0;
    text-align: left;
  }

  .headline {
    font-size: var(--fs-72);
    margin-bottom: 64px;
  }

  .description {
    max-width: 445px;
    font-size: var(--fs-18);
    margin-bottom: 32px;
  }
}
/* #endregion */

/* #region Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .rings {
    left: -100px;
    top: 140px;
  }

  .hero-container {
    padding-top: 100px;
    padding-bottom: 200px;
  }

  .headline {
    font-size: var(--fs-88);
    margin-bottom: 40px;
  }

  .description {
    margin-bottom: 64px;
  }
}
/* #endregion */
